# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE

# https://generate-secret.vercel.app/32
JOSE_SECRET=aa8247d3277e61a5cd5eebd77a364a48

NEXT_PUBLIC_SERVICE_URL=""
NEXT_PUBLIC_SERVICE_PORT=""
API_KEY=""
ENDPOINT_REDIRECT=""
DEALER_SERVICE_URL=""